* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

span {
    color: rgba(255, 0, 0,0.75);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

span:hover {
    cursor: pointer;
    scale: 1.2;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}