* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedor-problema1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

#h2-Caja {
  text-align: center;
  padding: 1rem;
  color: white;
}

#div-caja {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#caja {
  cursor: pointer;
  border-radius: 50%;
}

#contenedor-problema2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(187, 179, 219);
}

#h2-Stickers {
  text-align: center;
  padding: 2rem;
}

#stickersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1rem;
}

.sticker {
  width: 300px;
  height: 300px;
}

.contenedorSticker {
  border: 1px solid black;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 15px;
  transition: 0.25s;
}

.contenedorSticker:hover {
  scale: 1.05;
}

#div-mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.label-sticker {
  cursor: pointer;
}

#contenedor-problema3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 8rem;
  gap: 1rem;
  background-image: url(https://wallpapersok.com/images/file/cybersecurity-threat-hackerat-computer-qrrob0fv4zz8htyo.jpg);
  background-size: cover;
  height: 100vh;
}


@keyframes tiritar {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-12px);
  }
  60% {
    transform: translateX(12px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

#caja.tiritando {
  animation: tiritar 0.3s ease-in-out;
}

#btn-stickers {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(167, 163, 212);
  color: black;
}

.skr {
  background-color: rgb(167, 163, 212);
}

#h2-pass {
  color: white  ;
  text-shadow: 0px 0px 4px rgb(85, 80, 80);
  text-align: center;
}

#btn-pass {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.salir {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: bold;
  transition: 2s;
}

.salir:hover {
  scale: 0.25;
}

.btn-volver {
  margin-top: 1.5rem
}